<%= javascript_include_tag "jquery_init" %>
<%= javascript_include_tag "reset_password", "data-turbolinks-track" => true  %>

<div style="margin: auto; width: 50%; height: 50%; padding: 10px;">
  <h2>Reset your password</h2>

  <%= form_with url: user_password_path,
      local: false, method: :put,  html: { id: "reset_password_form", data: { params: params} } do |form| %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
    <%= form.submit 'Reset Password', style: 'margin-top: 24px; padding: 12px;' %>
  <% end %>
</div>
